body {
    margin: 0;
    overflow: hidden;
}
#overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#restartButton {
    position: absolute;
    top: 50px; /* Adjust top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.player {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 0; /* Remove default border-radius */
}

.player.player1 {
    top: 50vh;
    left: 5vw; /* Position on the left side */
}

.player.player2 {
    top: 50vh;
    right: 5vw; /* Position on the right side */
}

.block-player2 {
    border: 2px solid red;
    border-radius: 50%;
}

.dead-player2 {
    position: relative;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(45deg); /* Rotate the flag */
}

.check-player2 {
    bottom: 10px; /* Adjust as needed */
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 0; /* Remove default border-radius */
}

.projectile {
    position: absolute;
    width: 5px;
    height: 15px;
    background-color: #ff00ff;
}
